<p id="notice"><%= notice %></p>

<% content_for :pagetitle do %>
	<title><%= @countdown.title %> – We are lookingforward.to</title>
<% end %>

<% content_for :background do %>
	<style type="text/css" media="screen">
		.jumbotron {
  		background: url('<%= @countdown.image_url if @countdown.image? %>') no-repeat top center;
			background-size: 110% auto;
		}
	</style>
<% end %>

<% content_for :title do %>
	<%= @countdown.title %>
<% end %>

<% content_for :link do %>
	<% if @countdown.link? %>
		<%= link_to 'Details', @countdown.link, :class => 'btn btn-default btn-xs', 
						:style => 'margin-left: 15px; vertical-align: 40%; line-height: 1.5em' %>
	<% end %>
<% end %>

<% content_for :countdown do %>
  
	<script type='text/javascript'>
		
		var count = '<%= @countdown.time.to_i %>';
		var now = Math.round(new Date().getTime() / 1000);
		var days, hours, minutes, seconds,tmp;
		
		var timer = $.timer(
			function() {
				tmp = count-now;
				if(tmp <=0 ) {
					$('.count').html('<tr><th>This event is over.</th></tr>');
				}
				else {
					seconds = tmp % 60;
					if (seconds < 10) {
						seconds = '0'+seconds;
					}
					minutes = Math.floor(tmp/60) % 60;
					if (minutes < 10) {
						minutes = '0'+minutes;
					}
					hours 	= Math.floor(tmp/60/60) % 24;
					if (hours < 10) {
						hours = '0'+hours;
					}
					days		= Math.floor(tmp/60/60/24);
					if (days < 10) {
						days = '0'+days;
					}
					
					$('.count').html('<tr><th>'+days+'</th><th>:</th><th>'+hours+'</th><th>:</th><th>'+minutes+'</th><th>:</th><th>'+seconds+'</th></tr>');
				}
				count--;
			}, 1000, true
		);
    
  </script>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @countdown.title %>
</p>

<p>
  <strong>Time:</strong>
  <%= @countdown.time %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@countdown.image_url, :width => 600) if @countdown.image.present? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @countdown.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @countdown.link %>
</p>

<%= link_to 'Edit', edit_countdown_path(@countdown) %> |
<%= link_to 'Back', countdowns_path %>